AddDefaultCharset UTF-8

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^(.*)$ $1.php

RewriteCond %{HTTP_HOST} ^kbgo.ru$
RewriteRule ^(.*)$ "http\:\/\/www\.kbgo\.ru\/$1" [R=301,L]
